
.colour1 { background-color: #14281D; }
.colour2 { background-color: #31731A; }
.colour3 { background-color: #6E633D; }
.colour4 { background-color: #C2A878; }
.colour5 { background-color: #F1F5F2; }
.font-color { color: #2C2D2C; }

.goban {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.gobansvg {
    width: 100%;
    height: 100%;
}

.header {
    background-color: #F1F5F2;
    padding: 20px;
}

.board .matrix table td .stone .marker {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 12px;
    left: 12px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.avatar-frame {
    border: 2px solid #c7b89e;
}

.avatar-frame, .avatar-frame img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 40px; /* Saf3+, Chrome */
    border-radius: 40px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 40px;  Disabled for FF1+ */
}

.logo {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Georgia;
    background-color: #31731A;
    color: #2C2D2C;
    padding: 0;
    margin: 0;
}

button {
    background-color: #C2A878;
    border: 0px;
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    color: #2C2D2C;
    font-family: Georgia;
}